@media (min-width: 320px) and (max-width: 425px) {
    .top {
        width: 100%;
        height: 650px;
        background-image: url(img_mygame/stars_one.png), url(img_mygame/stars_two_mobile.png),
            url(img_mygame/stars_three_mobile.png);
        background-position:
            37px 64px,
            265px 0px,
            303px 557px;

        &__title {
            width: 100%;
            padding-top: 147px;
            padding-left: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &-header {
                width: 262px;
                font-family: Montserrat;
                font-size: 40px;
                font-weight: 700;
                line-height: 48.76px;
            }

            &-subtitle {
                width: 296px;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.5px;
                padding-bottom: 36px;
            }

            &-link {
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 600;
                line-height: 19.5px;
            }
        }

        &__button {
            width: 285px;
            height: 55px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 22.67px;
            text-align: center;
        }
    }

    .block {
        height: 50px;
        width: 100%;
    }

    .menu {
        height: 3740px;
        width: 100%;

        &__about {
            &-content {
                padding-top: 48px;
                padding-bottom: 48px;
            }

            &-header {
                display: none;
            }

            &--height-one {
                height: 529px;
            }

            &--height-two {
                height: 567px;
            }

            &--height-three {
                height: 567px;
            }

            &--height-four {
                height: 606px;
            }

            &--height-five {
                height: 528px;
            }

            &--height-six {
                height: 626px;
            }

            &-window {
                width: 343px;
            }

            &--size-img {
                height: 285px;
            }

            &-mobile {
                display: contents;
                font-family: Montserrat;
                font-size: 40px;
                font-weight: 700;
                line-height: 48.76px;
                text-align: left;
                color: white;
                font-family: Montserrat;
            }

            &-link {
                text-align: center;
            }

            &--button-mobile {
                width: 285px;
                height: 55px;
                border-radius: 60px;
                border: 1px;
                background: black;
                color: white;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 600;
                line-height: 22.67px;
                &:hover {
                    background-color: white;
                    color: black;
                }
            }

            &-subtitle {
                display: none;
            }

            &-verlaptop {
                display: none;
            }

            &--mobile-content {
                display: inline;
            }

            &--name-game {
                margin-top: 29px;
                margin-left: 29px;
                width: 285px;
            }

            &--mobile-name {
                height: 40px;
                margin-top: 16px;
                margin-left: 29px;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.5px;
                text-align: left;
                width: 285px;
                margin-bottom: 32px;
                color: rgba(39, 26, 88, 1);
            }

            &-up {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 24px;
                margin-bottom: 24px;
            }

            &-bottom {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 24px;
            }
        }
    }

    .mini {
        display: none;
    }

    .footer {
        height: 100px;
        width: 100%;

        &__text {
            padding-top: 40px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 19.5px;
            text-align: center;
        }
    }
}
