* {
  margin: 0;
  padding: 0;
}

.top {
  width: 1440px;
  height: 710px;
  background-color: rgb(225, 255, 143);
  background-image: url(img_mygame/stars_two.png), url(img_mygame/stars_one.png);
  background-position: 854px -333px, 63px 69px;
  background-repeat: no-repeat;
}

.title {
  height: 710px;
  width: 769px;
  height: 358px;
  padding-top: 196px;
  padding-left: 120px;
}
.title__content {
  width: 769px;
}
.title__content_one {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
  text-align: left;
}
.title__content_two {
  padding-top: 24px;
  padding-bottom: 48px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.title__link {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: black;
  text-decoration: none;
}
.title__button {
  background: black;
  width: 247px;
  height: 66px;
  border-radius: 60px;
  border: 1px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 34.01px;
  text-align: center;
  color: white;
}

.block {
  width: 1440px;
  height: 90px;
  background-color: rgb(188, 236, 48);
}

.menu_one {
  width: 1440px;
  height: 1470px;
  background-color: rgb(32, 32, 39);
  background-image: url(img_mygame/star_four.png), url(img_mygame/stars_tree.png);
  background-position: 983px 100px, 25px;
  background-repeat: no-repeat;
}

.about__content {
  padding-top: 94px;
  padding-left: 119px;
  height: 198px;
  margin-bottom: 72px;
}
.about__content_one {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
  text-align: left;
  color: white;
}
.about__content_two {
  padding-top: 24px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: white;
  width: 788px;
}
.about__games {
  padding-left: 119px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.about__window {
  background: rgb(255, 255, 255);
  width: 378px;
  border-radius: 32px;
  display: inline-block;
  overflow: hidden;
}
.about__window img {
  transition: 1s;
  display: block;
}
.about__window img:hover {
  transform: scale(1.2);
}
.about__height_one {
  height: 473px;
}
.about__height_two {
  height: 512px;
}
.about__height_three {
  height: 473px;
}
.about__height_four {
  height: 551px;
}
.about__height_five {
  height: 512px;
}
.about__height_six {
  height: 551px;
}
.about__content_game {
  margin-top: 32px;
  width: 108px;
  height: 36px;
  background-color: rgb(247, 247, 247);
  border-radius: 52px;
  margin-left: 32px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  border: none;
  margin-bottom: 16px;
}
.about__name_game {
  margin-left: 32px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: left;
  color: rgb(32, 32, 39);
}/*# sourceMappingURL=stile_mygame.css.map */