* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.top {
    height: 710px;
    background-color: rgba(225, 255, 143, 1);
    background-image: url(img_mygame/stars_two.png), url(img_mygame/stars_one.png);
    background-position:
        854px -333px,
        63px 69px;
    background-repeat: no-repeat;

    &__center {
        display: grid;
        justify-content: center;
    }

    &__title {
        width: 1200px;
        padding-top: 196px;

        &-header {
            font-family: Montserrat;
            font-size: 64px;
            font-weight: 700;
            line-height: 78.02px;
            width: 769px;
        }

        &-subtitle {
            padding-top: 24px;
            padding-bottom: 48px;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            width: 720px;
        }

        &-link {
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            text-align: left;
            color: black;
            text-decoration: none;
        }
    }

    &__button {
        background: black;
        width: 247px;
        height: 66px;
        border-radius: 60px;
        border: 1px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 34.01px;
        text-align: center;
        color: white;
        transition: 0.5s;

        &:hover {
            background-color: white;
            color: black;
        }
    }
}

.block {
    height: 90px;
    background-color: rgba(188, 236, 48, 1);
}

.menu {
    height: 1470px;
    background-color: rgba(32, 32, 39, 1);
    background-image: url(img_mygame/star_four.png), url(img_mygame/stars_tree.png);
    background-position:
        983px 100px,
        25px;
    background-repeat: no-repeat;

    &__about {
        display: grid;
        justify-content: center;

        &-content {
            padding-top: 94px;
            padding-bottom: 72px;
        }

        &-link {
            text-decoration: none;
        }

        &-header {
            font-family: Montserrat;
            font-size: 64px;
            font-weight: 700;
            line-height: 78.02px;
            text-align: left;
            color: white;
        }

        &-mobile {
            display: none;
        }

        &-subtitle {
            padding-top: 24px;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
            color: white;
        }

        &-up {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
            align-items: flex-start;
            justify-content: center;
        }

        &-bottom {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
            align-items: flex-end;
            justify-content: center;
        }

        &-window {
            background: rgba(255, 255, 255, 1);
            width: 378px;
            border-radius: 32px;
            display: inline-block;
            overflow: hidden;
            transition: 1s;

            &:hover {
                transform: scale(1.05);
                display: block;
            }
        }

        &-window--height-one {
            height: 473px;
        }

        &-window--height-two {
            height: 512px;
        }

        &-window--height-three {
            height: 473px;
        }

        &-window--height-four {
            height: 551px;
        }

        &-window--height-five {
            height: 528px;
        }

        &-window--height-six {
            height: 551px;
        }

        &-content-game {
            margin-top: 32px;
            width: 108px;
            height: 36px;
            background-color: rgba(247, 247, 247, 1);
            border-radius: 52px;
            margin-left: 32px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 17.6px;
            border: none;
            margin-bottom: 16px;
        }

        &-number-game {
            padding-top: 8px;
            text-align: center;
            color: rgba(39, 26, 88, 1);
        }

        &-name-game {
            margin-left: 32px;
            font-family: Montserrat;
            font-size: 32px;
            font-weight: 700;
            line-height: 39.01px;
            text-align: left;
            color: rgba(32, 32, 39, 1);
        }

        &-mobile-content {
            display: none;
        }

        &-button-mobile {
            display: none;
        }
    }
}

.mini {
    background-color: rgba(32, 32, 39, 1);
    height: 3500px;
    background-image: url(img_mygame/ministars_one.png), url(img_mygame/ministars_two.png);
    background-position:
        1277px 93px,
        1249px 3366px;
    background-repeat: no-repeat;

    &__game {
        display: grid;
        justify-content: center;
    }

    &__game-menu {
        padding-top: 46px;
        padding-bottom: 72px;
    }

    &__game-name {
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78.02px;
        text-align: left;
        color: white;
    }

    &__game-list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 32px;
    }

    &__window {
        width: 1200px;
        height: 500px;
        border-radius: 30px;
        background-color: white;
        display: flex;
        flex-direction: row;
    }

    &__window-content {
        width: 600px;
        padding-top: 48px;
        padding-left: 48px;
    }

    &__window-block {
        width: 382px;
        height: 249px;
    }

    &__text-name {
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        line-height: 58.51px;
        text-align: left;
        color: rgba(32, 32, 39, 1);
        margin-bottom: 24px;
    }

    &__text-specification {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        color: rgba(32, 32, 39, 1);
        margin-bottom: 36px;
    }

    &__button {
        background: black;
        width: 247px;
        height: 66px;
        border-radius: 60px;
        border: none;
        border-color: black;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 34.01px;
        text-align: center;
        color: white;
        transition: 0.5s;

        &:hover {
            background: white;
            color: black;
            border: 1px solid #000;
        }
    }
}

.footer {
    height: 150px;
    background-color: rgba(189, 237, 53, 1);

    &__text {
        padding-top: 61px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 29.26px;
        text-align: center;
    }
}

@import "mobver";
