* {
  margin: 0;
  padding: 0;
}

.center {
  padding-top: 196px;
  padding-left: 120px;
}

html {
  scroll-behavior: smooth;
}

.top {
  height: 710px;
  background-color: rgb(225, 255, 143);
  background-image: url(img_mygame/stars_two.png), url(img_mygame/stars_one.png);
  background-position: 854px -333px, 63px 69px;
  background-repeat: no-repeat;
}

.title__content__one {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
  width: 769px;
}
.title__content__two {
  padding-top: 24px;
  padding-bottom: 48px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  width: 720px;
}
.title__link {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: black;
  text-decoration: none;
}
.title__button {
  background: black;
  width: 247px;
  height: 66px;
  border-radius: 60px;
  border: 1px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 34.01px;
  text-align: center;
  color: white;
}
.title__button:hover {
  background-color: white;
  color: black;
}

.block {
  height: 90px;
  background-color: rgb(188, 236, 48);
}

.menu1 {
  height: 1470px;
  background-color: rgb(32, 32, 39);
  background-image: url(img_mygame/star_four.png), url(img_mygame/stars_tree.png);
  background-position: 983px 100px, 25px;
  background-repeat: no-repeat;
}

.about__link {
  text-decoration: none;
}
.about__content {
  padding-top: 94px;
  padding-left: 119px;
  margin-bottom: 72px;
}
.about__content__one {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
  text-align: left;
  color: white;
}
.about__content__mobile {
  display: none;
}
.about__content__vermobile {
  display: none;
}
.about__content__two {
  padding-top: 24px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: white;
}
.about__games__one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
}
.about__games__two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-end;
  justify-content: center;
}
.about__window {
  background: rgb(255, 255, 255);
  width: 378px;
  border-radius: 32px;
  display: inline-block;
  overflow: hidden;
}
.about__window:hover {
  transform: scale(1.05);
  transition: 0.5s;
  display: block;
}
.about__height__one {
  height: 473px;
}
.about__height__two {
  height: 512px;
}
.about__height__three {
  height: 473px;
}
.about__height__four {
  height: 551px;
}
.about__height__five {
  height: 528px;
}
.about__height__six {
  height: 551px;
}
.about__content__game {
  margin-top: 32px;
  width: 108px;
  height: 36px;
  background-color: rgb(247, 247, 247);
  border-radius: 52px;
  margin-left: 32px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  border: none;
  margin-bottom: 16px;
}
.about__name {
  padding-top: 8px;
  text-align: center;
}
.about__name__game {
  margin-left: 32px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: left;
  color: rgb(32, 32, 39);
}

@media (min-width: 320px) and (max-width: 425px) {
  .center {
    padding-top: 147px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .top {
    width: 425px;
    height: 650px;
  }
  .block {
    width: 425px;
  }
  .title__content__one {
    width: 262px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.76px;
  }
  .title__content__two {
    width: 296px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    padding-bottom: 36px;
  }
  .title__link {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
  }
  .title__button {
    width: 285pxpx;
    height: 55px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.67px;
    text-align: center;
  }
  .block {
    height: 50px;
  }
  .menu1 {
    height: 375px;
    height: 3740px;
    width: 425px;
  }
  .about__content {
    padding-top: 48px;
    padding-left: 22px;
    margin-bottom: 48px;
  }
  .about__content__one {
    display: none;
  }
  .about__height__one {
    height: 529px;
  }
  .about__height__two {
    height: 567px;
  }
  .about__height__three {
    height: 567px;
  }
  .about__height__four {
    height: 606px;
  }
  .about__height__five {
    height: 528px;
  }
  .about__height__six {
    height: 626px;
  }
  .about__window {
    width: 343px;
  }
  .about__game {
    height: 285px;
  }
  .about__content__mobile {
    display: contents;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.76px;
    text-align: left;
    color: white;
    font-family: Montserrat;
  }
  .about__link {
    text-align: center;
  }
  .about__button__mobile {
    width: 285px;
    height: 55px;
    border-radius: 60px;
    border: 1px;
    background: black;
    color: white;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.67px;
  }
  .about__name__game {
    width: 285px;
  }
  .about__button__mobile:hover {
    background-color: white;
    color: black;
  }
  .about__content__two {
    display: none;
  }
  .about__content__verlaptop {
    display: none;
  }
  .about__content__vermobile {
    display: inline;
  }
  .about__name__game {
    margin-top: 29px;
    margin-left: 29px;
  }
  .about__name__mobile {
    height: 40px;
    margin-top: 16px;
    margin-left: 29px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    width: 285px;
    margin-bottom: 32px;
  }
  .about__games__one {
    margin-bottom: 24px;
  }
  .about__games__one {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
  .about__games__two {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
}/*# sourceMappingURL=stile_mygame.css.map */