* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.top {
  height: 710px;
  background-color: rgb(225, 255, 143);
  background-image: url(img_mygame/stars_two.png), url(img_mygame/stars_one.png);
  background-position: 854px -333px, 63px 69px;
  background-repeat: no-repeat;
}
.top__center {
  display: grid;
  justify-content: center;
}
.top__title {
  width: 1200px;
  padding-top: 196px;
}
.top__title-header {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
  width: 769px;
}
.top__title-subtitle {
  padding-top: 24px;
  padding-bottom: 48px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  width: 720px;
}
.top__title-link {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: black;
  text-decoration: none;
}
.top__button {
  background: black;
  width: 247px;
  height: 66px;
  border-radius: 60px;
  border: 1px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 34.01px;
  text-align: center;
  color: white;
  transition: 0.5s;
}
.top__button:hover {
  background-color: white;
  color: black;
}

.block {
  height: 90px;
  background-color: rgb(188, 236, 48);
}

.menu {
  height: 1470px;
  background-color: rgb(32, 32, 39);
  background-image: url(img_mygame/star_four.png), url(img_mygame/stars_tree.png);
  background-position: 983px 100px, 25px;
  background-repeat: no-repeat;
}
.menu__about {
  display: grid;
  justify-content: center;
}
.menu__about-content {
  padding-top: 94px;
  padding-bottom: 72px;
}
.menu__about-link {
  text-decoration: none;
}
.menu__about-header {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
  text-align: left;
  color: white;
}
.menu__about-mobile {
  display: none;
}
.menu__about-subtitle {
  padding-top: 24px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: white;
}
.menu__about-up {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
}
.menu__about-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-end;
  justify-content: center;
}
.menu__about-window {
  background: rgb(255, 255, 255);
  width: 378px;
  border-radius: 32px;
  display: inline-block;
  overflow: hidden;
  transition: 1s;
}
.menu__about-window:hover {
  transform: scale(1.05);
  display: block;
}
.menu__about-window--height-one {
  height: 473px;
}
.menu__about-window--height-two {
  height: 512px;
}
.menu__about-window--height-three {
  height: 473px;
}
.menu__about-window--height-four {
  height: 551px;
}
.menu__about-window--height-five {
  height: 528px;
}
.menu__about-window--height-six {
  height: 551px;
}
.menu__about-content-game {
  margin-top: 32px;
  width: 108px;
  height: 36px;
  background-color: rgb(247, 247, 247);
  border-radius: 52px;
  margin-left: 32px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  border: none;
  margin-bottom: 16px;
}
.menu__about-number-game {
  padding-top: 8px;
  text-align: center;
  color: rgb(39, 26, 88);
}
.menu__about-name-game {
  margin-left: 32px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: left;
  color: rgb(32, 32, 39);
}
.menu__about-mobile-content {
  display: none;
}
.menu__about-button-mobile {
  display: none;
}

.mini {
  background-color: rgb(32, 32, 39);
  height: 3500px;
  background-image: url(img_mygame/ministars_one.png), url(img_mygame/ministars_two.png);
  background-position: 1277px 93px, 1249px 3366px;
  background-repeat: no-repeat;
}
.mini__game {
  display: grid;
  justify-content: center;
}
.mini__game-menu {
  padding-top: 46px;
  padding-bottom: 72px;
}
.mini__game-name {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
  text-align: left;
  color: white;
}
.mini__game-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 32px;
}
.mini__window {
  width: 1200px;
  height: 500px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.mini__window-content {
  width: 600px;
  padding-top: 48px;
  padding-left: 48px;
}
.mini__window-block {
  width: 382px;
  height: 249px;
}
.mini__text-name {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 58.51px;
  text-align: left;
  color: rgb(32, 32, 39);
  margin-bottom: 24px;
}
.mini__text-specification {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: rgb(32, 32, 39);
  margin-bottom: 36px;
}
.mini__button {
  background: black;
  width: 247px;
  height: 66px;
  border-radius: 60px;
  border: none;
  border-color: black;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 34.01px;
  text-align: center;
  color: white;
  transition: 0.5s;
}
.mini__button:hover {
  background: white;
  color: black;
  border: 1px solid #000;
}

.footer {
  height: 150px;
  background-color: rgb(189, 237, 53);
}
.footer__text {
  padding-top: 61px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 425px) {
  .top {
    width: 100%;
    height: 650px;
    background-image: url(img_mygame/stars_one.png), url(img_mygame/stars_two_mobile.png), url(img_mygame/stars_three_mobile.png);
    background-position: 37px 64px, 265px 0px, 303px 557px;
  }
  .top__title {
    width: 100%;
    padding-top: 147px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .top__title-header {
    width: 262px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.76px;
  }
  .top__title-subtitle {
    width: 296px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    padding-bottom: 36px;
  }
  .top__title-link {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
  }
  .top__button {
    width: 285px;
    height: 55px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.67px;
    text-align: center;
  }
  .block {
    height: 50px;
    width: 100%;
  }
  .menu {
    height: 3740px;
    width: 100%;
  }
  .menu__about-content {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .menu__about-header {
    display: none;
  }
  .menu__about-window {
    width: 343px;
  }
  .menu__about-window--height-one {
    height: 529px;
  }
  .menu__about-window--height-two {
    height: 567px;
  }
  .menu__about-window--height-three {
    height: 567px;
  }
  .menu__about-window--height-four {
    height: 606px;
  }
  .menu__about-window--height-five {
    height: 528px;
  }
  .menu__about-window--height-six {
    height: 626px;
  }
  .menu__about-img {
    height: 285px;
  }
  .menu__about-mobile {
    display: contents;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.76px;
    text-align: left;
    color: white;
  }
  .menu__about-link {
    text-align: center;
  }
  .menu__about-button-mobile {
    width: 285px;
    height: 55px;
    border-radius: 60px;
    border: 1px;
    background: black;
    color: white;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.67px;
    display: block;
    margin: 0 auto;
    transition: 0.5s;
  }
  .menu__about-button-mobile:hover {
    background-color: white;
    color: black;
  }
  .menu__about-subtitle {
    display: none;
  }
  .menu__about-verlaptop {
    display: none;
  }
  .menu__about-mobile-content {
    display: block;
  }
  .menu__about-name-game {
    margin-top: 29px;
    margin-left: 29px;
    width: 285px;
  }
  .menu__about-mobile-name {
    height: 40px;
    margin-top: 16px;
    margin-left: 29px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    width: 285px;
    margin-bottom: 32px;
    color: rgb(39, 26, 88);
  }
  .menu__about-up {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }
  .menu__about-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
  .mini {
    display: none;
  }
  .footer {
    height: 100px;
    width: 100%;
  }
  .footer__text {
    padding-top: 40px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: center;
  }
}/*# sourceMappingURL=stile_mygame.css.map */