* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.center{
display: grid;
justify-content: center;

}

.top {
    height: 710px;
    background-color: rgba(225, 255, 143, 1);
    background-image: url(img_mygame/stars_two.png), url(img_mygame/stars_one.png);
    background-position:
        854px -333px,
        63px 69px;
    background-repeat: no-repeat;
}

.title {
    width: 1200px;
    padding-top: 196px;
    &__content_title {
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78.02px;
        width: 769px;
    }

    &__content_subtitle {
        padding-top: 24px;
        padding-bottom: 48px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        width: 720px;
    }

    &__link {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: black;
        text-decoration: none;
    }

    &__button {
        background: black;
        width: 247px;
        height: 66px;
        border-radius: 60px;
        border: 1px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 34.01px;
        text-align: center;
        color: white;
    }

    &__button:hover {
        background-color: white;
        color: black;
    }
}

.block {
    height: 90px;
    background-color: rgba(188, 236, 48, 1);
}

.menu1 {
    height: 1470px;
    background-color: rgba(32, 32, 39, 1);
    background-image: url(img_mygame/star_four.png), url(img_mygame/stars_tree.png);
    background-position:
        983px 100px,
        25px;
    background-repeat: no-repeat;
}

.about {
    display: grid;
    justify-content: center;

    &__content {
        padding-top: 94px;
        padding-bottom: 72px;
    }

    &__link {
        text-decoration: none;
    }

    &__content_title {
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78.02px;
        text-align: left;
        color: white;
    }

    &__content_mobile {
        display: none;
    }

    &__content_vermobile {
        display: none;
    }

    &__content_subtitle {
        padding-top: 24px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        color: white;
    }

    &__games_start {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        align-items: flex-start;
        justify-content: center;
    }

    &__games_end {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        align-items: flex-end;
        justify-content: center;
    }

    &__window {
        background: rgba(255, 255, 255, 1);
        width: 378px;
        border-radius: 32px;
        display: inline-block;
        overflow: hidden;
    }
    &__window:hover {
        transform: scale(1.05);
        transition: 0.5s;
        display: block;
    }

    &__height_one {
        height: 473px;
    }
    &__height_two {
        height: 512px;
    }
    &__height_three {
        height: 473px;
    }
    &__height_four {
        height: 551px;
    }
    &__height_five {
        height: 528px;
    }
    &__height_six {
        height: 551px;
    }

    &__content_game {
        margin-top: 32px;
        width: 108px;
        height: 36px;
        background-color: rgba(247, 247, 247, 1);
        border-radius: 52px;
        margin-left: 32px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 17.6px;
        border: none;
        margin-bottom: 16px;
    }

    &__name {
        padding-top: 8px;
        text-align: center;
        color: rgba(39, 26, 88, 1);
    }

    &__name_game {
        margin-left: 32px;
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 700;
        line-height: 39.01px;
        text-align: left;
        color: rgba(32, 32, 39, 1);
    }
}

.mini {
    background-color: rgba(32, 32, 39, 1);
    height: 3500px;
    background-image: url(img_mygame/ministars_one.png), url(img_mygame/ministars_two.png);
    background-position:
        1277px 93px,
        1249px 3366px;
    background-repeat: no-repeat;

    &__game {
        display: grid;
        justify-content: center;
    }

    &__game_menu {
        padding-top: 46px;
        padding-bottom: 72px;
    }

    &__game_name {
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78.02px;
        text-align: left;
        color: white;
    }

    &__game_list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 32px;
    }

    &__window {
        width: 1200px;
        height: 500px;
        border-radius: 30px;
        background-color: white;
        display: flex;
        flex-direction: row;
    }

    &__window_name {
        width: 600px;
        padding-top: 48px;
        padding-left: 48px;
    }

    &__window_text {
        width: 382px;
        height: 249px;
    }

    &__window_game {
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        line-height: 58.51px;
        text-align: left;
        color: rgba(32, 32, 39, 1);
        margin-bottom: 24px;
    }

    &__window_specification {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        color: rgba(32, 32, 39, 1);
        margin-bottom: 36px;
    }

    &__button {
        background: black;
        width: 247px;
        height: 66px;
        border-radius: 60px;
        border: none;
        border-color: black;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 34.01px;
        text-align: center;
        color: white;
    }

    &__button:hover {
        background: white;
        color: black;
        border: 1px solid #000;

    }
}

.footer {
    height: 150px;
    background-color: rgba(189, 237, 53, 1);
    &__text {
        padding-top: 61px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 29.26px;
        text-align: center;
    }
}

@import "mobver";
